<div class="main">
    <!-- <form [formGroup]="loginDetailsForm"> -->
    <div class="img-logo">
        <img src='/assets/store.png' alt='image'>
    </div>

    <div>
        <p class="welcome-text">Welcome <br> Proceed with Your Details</p>
    </div>

    <div>
        <p class="mpin-text">  Enter 4 digit MPIN</p>
    </div>

    <div class="otp_div">
        <input class="otp_input" type="text" maxlength="1">
        <input class="otp_input" type="text" maxlength="1">
        <input class="otp_input" type="text" maxlength="1">
        <input class="otp_input" type="text" maxlength="1">
    </div>

    <div class="div_login_button">
        <button class="login_button">LOGIN</button>
    </div>

    <div class="div_or" >
        <p class="or">Or</p>
    </div>

    <div class="div_login" >
        <p class="login_through">To login through OTP Click here</p>
    </div>


    
</div>
