<div class="main">
    <!-- <form [formGroup]="loginDetailsForm"> -->
    <div class="img-logo">
        <img src='/assets/store.png' alt='image'>
    </div>

    <div>
        <p class="welcome-text">Welcome <br> Proceed with Your Details</p>
    </div>

    <div class="input-field">
        <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>    
            <input type="text" formControlName="username" matInput placeholder="Enter Your Username">
          </mat-form-field>
    </div>

    <div class="input-field">
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>    
            <input type="text" formControlName="password" matInput placeholder="Enter Your Password">
          </mat-form-field>
    </div>

    <div class="example-button-row">
        <button class="submit-button" mat-flat-button>Basic</button>
    </div>
    
<!-- </form> -->

</div>
